@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #00003b;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* movie selector starts */
.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
}
/* movie selector ends */

/* container starts */
/* perspective prop tilts the screen */
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
/* container ends */

/* screen starts */
.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
/* screen ends */

/* styling the seats starts*/
.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.seat.selected {
  background-color: #6feaf6;
}
.seat.occupied {
  background-color: #fff;
}
/* styling the seats ends */

/* Css psudo selector starts */
.seat:nth-of-type(2) {
  margin-right: 18px;
}
.seat:nth-of-type(7) {
  margin-left: 18px;
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
/* css psudo selector ends */

/* seat info tab starts*/
.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}
/* seat info tab ends */

/* css for rows strts */
.row {
  display: flex;
}
/* css for row ends */

/* text below seats starts */
p.text {
  margin: 5px 0;
}
p.text span {
  color: #6feaf6;
}
/* text below seats ends */
